@using EduBuddyApp.Models
@using EduBuddyApp.Services
@inject ITimetableService TimetableService
@inject UserState UserState

@if (TimetableDays == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid @ref="Grid1" Data="@TimetableDays" TItem="TimetableDayViewModel" ColumnWidth="100px">
        <Columns>
            <RadzenDataGridColumn TItem="TimetableDayViewModel" Property="DayOfWeek" Title="Day" Frozen="true" />
            <RadzenDataGridColumn TItem="TimetableDayViewModel" Title="Period 1" Width="200px">
                <Template Context="data">
                    <div style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
                        @data.Period1
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TimetableDayViewModel" Title="Period 2" Width="200px">
                <Template Context="data">
                    <div style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
                        @data.Period2
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TimetableDayViewModel" Title="Period 3" Width="200px">
                <Template Context="data">
                    <div style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
                        @data.Period3
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TimetableDayViewModel" Title="Period 4" Width="200px">
                <Template Context="data">
                    <div style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
                        @data.Period4
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TimetableDayViewModel" Title="Period 5" Width="200px">
                <Template Context="data">
                    <div style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
                        @data.Period5
                    </div>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

    <br />

    <RadzenDataGrid @ref="Grid2" Data="@TimetableDays" TItem="TimetableDayViewModel" ColumnWidth="100px">
        <Columns>
            <RadzenDataGridColumn TItem="TimetableDayViewModel" Property="DayOfWeek" Title="Day" Frozen="true" />
            <RadzenDataGridColumn TItem="TimetableDayViewModel" Title="Period 6" Width="200px">
                <Template Context="data">
                    <div style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
                        @data.Period6
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TimetableDayViewModel" Title="Period 7" Width="200px">
                <Template Context="data">
                    <div style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
                        @data.Period7
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TimetableDayViewModel" Title="Period 8" Width="200px">
                <Template Context="data">
                    <div style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
                        @data.Period8
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TimetableDayViewModel" Title="Period 9" Width="200px">
                <Template Context="data">
                    <div style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
                        @data.Period9
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TimetableDayViewModel" Title="Period 10" Width="200px">
                <Template Context="data">
                    <div style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
                        @data.Period10
                    </div>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
   }

@code {
    [Parameter]
    public int? SectionId { get; set; }

    public List<TimetableDayViewModel>? TimetableDays { get; set; }

    RadzenDataGrid<TimetableDayViewModel>? Grid1;
    RadzenDataGrid<TimetableDayViewModel>? Grid2;

    protected override async Task OnParametersSetAsync()
    {
        int employeeId = SectionId ?? UserState.EmployeeId ?? 0;
        if (employeeId != 0)
        {
            TimetableDays = await TimetableService.GetTimetableDaysAsync(employeeId);
        }
    }

   
}
