@page "/MySectionMarks"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using EduBuddyApp.Models
@using EduBuddyApp.Services
@inject UserState UserState
@using EduBuddyApp.Components.Common
@inject NavigationManager NavigationManager 
@inject IExamMarksService ExamMarksService 

<h3>MySection Marks</h3>

<InputSelect class="form-select mb-3"
             @bind-Value="selectedExamId"
             @bind-Value:after="OnExamChanged">
    <option value="">-- select --</option>
    @foreach (var exam in exams)
    {
        <option value="@exam.ExamId">@exam.ExamName</option>
    }
</InputSelect>

@if (selectedExamId.HasValue)
{
    <ExamShortCard  Exam="@selectedExam" />
    <SectionExamMarksGrid SectionId="@sectionId" ExamId="@selectedExamId.Value" />
    
}

@code {   

    private List<ExamsViewModel> exams = new();
    private int? selectedExamId;
    private ExamsViewModel selectedExam;
    private int sectionId;

    protected override async Task OnInitializedAsync()
    {
        // Replace with your actual schoolId source
        int schoolId = UserState.SchoolId ?? 0;
        sectionId = UserState.EmployeeDetails?.ClassTeacherSchoolClassId ?? 0;
        if (schoolId > 0)
        {
            exams = await ExamMarksService.GetExamsInOpenSessionAsync(schoolId);
        }
    }

    

    private void OnExamChanged()
    {
        selectedExam = exams.FirstOrDefault(e => e.ExamId == selectedExamId);
        StateHasChanged();
    }
}
